<!DOCTYPE html>
<html  lang ="en"
       xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>UserList</title>
    <meta charset="ISO-8859-1" />
    <link rel="stylesheet" type="text/css" th:href="@{static/css/registration.css}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<h1>List of Internet Services </h1>

<div th:each="internet: ${internetList}" >
    <a th:text="${internet.getNameOfTariff()}" th:href="@{/admin/internet/update/{id}(id=${internet.getInternetService_id()})}">internet</a>
</div>

</body>
</html>