<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">>
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<h1>Main Page</h1>

<b>Guest</b>
<a th:href="@{/main/registration}" class="btn btn-info" role="button">Registration</a>
<br>
<a th:href="@{/login}" class="btn btn-info" role="button">Login</a>
<br>

<b>User</b>



<br>
<br>
<br>
<a th:href="@{/admin/list}" class="btn btn-info" role="button">Show list of users</a>


</body>
</html>