<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">>
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<h1>Main Page</h1>

<b>Guest</b>
<br>
<a th:href="@{/main/registration}" class="btn btn-info" role="button">Registration</a>
<br>
<a th:href="@{/login}" class="btn btn-info" role="button">Login</a>
<br>
<a th:href="@{/main/list}" class="btn btn-info" role="button">List of Services</a>
<br>
<br>
<b>User</b>
<br>
<a th:href="@{/user/cart}" class="btn btn-info" role="button">My cart</a>
<br>
<a th:href="@{/user/details}" class="btn btn-info" role="button">My details</a>


<br>
<b>Admin</b>
<br>
<a th:href="@{/admin/userlist}" class="btn btn-info" role="button">Show list of users</a>
<br>
<a th:href="@{/admin/servicelist}" class="btn btn-info" role="button">Show list of Services</a>



</body>
</html>